@import url('fonts.css');

body {
    /*font-family: 'Roboto', sans-serif !important;*/
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    /*background: center/100% url(https://images.unsplash.com/photo-1519003722824-194d4455a60c) fixed;*/
    /*margin-bottom: 60px;*/
    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*color: #505050;*/
    /*line-height: 30px;*/
}

.center {
    text-align:center;
}

.center-page{
    
    width:300px;
    height:300px;
    position:absolute;

    top:0;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

.space-vert{
    margin-top:20px;
}

.footer-pos {
    /*width:auto;*/
    width: 100%;
    height: auto;
    position: relative;
    /*top: 50px;*/
    bottom: 0;
    left: 0;
    /*right:0;*/
    /*margin: auto;*/
    margin-top: 2em;
    /*border-top-width: 1px;*/
    /*border-top-style: solid;*/
    /*border-top-color: #FFF;*/
    border-top: 1px solid rgba(0,0,0,.1);
    /*border-top: 2mm ridge rgb(58, 99, 76, .6);*/
    font-size: 85%;
}

.inner-line {
    border-top: 1px solid black;
    width: 100%;
}

.hr-pos{

    width:auto;
    height:auto;
    position:relative;

    top:580px;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

.card {
    height: 280px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

h5.heading {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    /*border-top: 1px solid rgba(0,0,0,.1);*/
    border-bottom: 1px dashed rgba(0,0,0,.1);
    padding-bottom: 3px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.05);
}

h3.heading {
    /*font-size: 18px;*/
    /*text-transform: uppercase;*/
    /*font-weight: 300;
    text-align: left;*/
    /*border-bottom: 1px solid rgba(0,0,0,.1);*/
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.directions_btn {
    margin-top: 20px;
}

.date_seperator {
    margin-top: 20px;
    font-size: larger;
}

.move_down {
    margin-top: 24px;
}

.date_length {
    width: 160px;
}

/*input[type=checkbox] {*/
    /* Double-sized Checkboxes */
    /*-ms-transform: scale(2);*/ /* IE */
    /*-moz-transform: scale(2);*/ /* FF */
    /*-webkit-transform: scale(2);*/ /* Safari and Chrome */
    /*-o-transform: scale(2);*/ /* Opera */
    /*padding: 10px;
}*/

#chkBilled {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

.grey-background {
    background-color: rgba(0,0,0,.05);
}

.header-area .main-menu .navbar {
    padding: 0 1rem 0 3rem;
    background-color: #3a634c;
}

.header-area .main-menu .navbar .navbar-nav{
    padding: 1rem 8rem;
}

.header-area .main-menu .nav-item .nav-link {
    /*font-family: 'Roboto', cursive;*/
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 1.2rem;
}

.nav-logo h5 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    /*font-family: 'Roboto', condensed;*/
}

.green_button {
    background-color: #40916c;
    color: whitesmoke;
}
